@charset "utf-8";
/* CSS Document */
a:hover{color:#005BAC}
li{list-style:none;}
#navers{background:#005BAC}
#navers .nav li{padding:6px 4px;}
#navers .nav li a{color:#FFF;font-weight:bold;font-family:'微软雅黑';text-decoration:none;font-size:16px}
#navers .nav li ul li a{color:#005BAC;font-weight:200;text-decoration:none;font-size:12px}
.more{float:right;font-size:12px}
.bg3{background:#005BAC}
.clearfix:after {clear:both; height:0; overflow:hidden; display:block; visibility:hidden; content:"."; }
.fl{ float:left;}
.fr{ float:right;}
.container{width:1030px}

.banner .item img{width:100%; }

.scrollleft{width:100%;}
.scrollleft .item{float:left;margin:3px;width:280px;height:250px;border-radius:5px;text-align:center}
.scrollleft .item img {display:block;width:100%;height:190px;margin-bottom:5px}
.team .item{float:left;margin:3px;width:190px;height:300px;border-radius:5px;text-align:center}
.team .item img{display:block;width:100%;height:250px;}
.blum{width:100%;}
.blum ul{width:100%;height:260px;width:100%;} /*ul width的宽不能过小*/
.blum ul li{float:left;margin:3px;width:280px;height:250px;border-radius:5px;text-align:center}
.blum ul li img{display:block;width:100%;height:200px;margin-bottom:5px}
.blum ul li p{display:block}

.list-text li{padding:3px 0;white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
.blue{background:#005BAC}


#teamd {width:33.333%;overflow:hidden;white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis;}#teamd img{width:100%;height:270px}
#xyxc {width:33.333%;overflow:hidden;white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis;}#xyxc img{width:100%;height:160px}
